* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 64px;
  font-size: 2rem;
  border-bottom: 2px darkslategray groove;
}
nav ul li a{
  text-decoration: none;
  color: #747677;
  font-weight: bold;
}
nav ul li a:hover{
  color: black;
}
.active {
  color: black;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  height: calc(100% - 64px);
}